# --- Common --- #
project_id           = "<gcp-project-id>"
region               = "<gcp-region>"
friendly_name_prefix = "<sandbox>" # typically either environment (e.g. 'sandbox', 'prod'), team name, or project name
common_labels = {
  "app"         = "<tfe>"
  "environment" = "<sandbox>"
  "owner"       = "<team-name>"
}

# --- Bootstrap --- #
tfe_license_secret_id             = "<tfe-license>"
tfe_encryption_password_secret_id = "<tfe-encryption-password>"
tfe_tls_cert_secret_id            = "<tfe-tls-cert-base64>"
tfe_tls_privkey_secret_id         = "<tfe-tls-privkey-base64>"
tfe_tls_ca_bundle_secret_id       = "<tfe-tls-ca-bundle-base64>"

# --- TFE config settings --- #
tfe_fqdn      = "<tfe.gcp.example.com>"
tfe_image_tag = "<v202409-3>"

# --- Networking --- #
vpc_network_name              = "<tfe-vpc-network-name>"
lb_is_internal                = true
lb_subnet_name                = "<tfe-lb-subnet-name>" # can be the same as VM subnet if desired
vm_subnet_name                = "<tfe-vm-subnet-name>"
cidr_allow_ingress_tfe_443    = ["<0.0.0.0/0>"] # CIDR ranges of TFE users/clients, VCS, and other tooling that will access TFE
allow_ingress_vm_ssh_from_iap = true

# --- DNS (optional) --- #
create_tfe_cloud_dns_record = <true>
cloud_dns_managed_zone_name = "<google-cloud-dns-zone-name>"

# --- Compute --- #
mig_instance_count = 1
gce_image_name     = "rhel-9-v20240910"
gce_image_project  = "rhel-cloud"
container_runtime  = "podman"

# --- Database --- #
tfe_database_password_secret_id = "<tfe-database-password-secret-name>"

# --- Log forwarding (optional) --- #
tfe_log_forwarding_enabled = <true>
log_fwd_destination_type   = "stackdriver"